<!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="Wrapper">

      <div class="navbar-header">
        <span class="navbar-brand">Calendar</span>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/tool">Tools</a></li>
          <li><a></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </nav>

  <div class="col-md-6 col-lg-offset-3" style="background-color: white">
    <div class="panel-body">
      <form class="form-horizontal" style="font-size: 20px">
        <p >
          First chose csv file prepared accordingly to the <a href="">help section</a>: <!-- TODO set end of the page-->
        </p>
        <div class="row">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-1">
              <label class="custom-file-upload">
                <input type="file" (change)="upload($event)" id="upload" name="upload"/>
                Browse
              </label>
            </div>
          </div>
        </div>

        <p>
          Then mark what you want to generate:
        </p>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12 col-md-offset-1">
              <label class="checkbox-inline"><input type="checkbox" value="">Entity</label>
              <label class="checkbox-inline"><input type="checkbox" value="">DTO</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Converters</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Sql tables</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Sqlloader file</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn btn-lg"><a href="http://localhost:8080/wrapper/file/download/">Download</a></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="text-center">
        <p class="text-muted">@Copyright Wieczorek all rights reserved 2017</p>
      </div>
    </div>
  </footer>


